* {
    margin: 0;
    padding: 0;
}
.bg {
    background-color: rgb(82, 76, 76);
    background-image: url(Alpinum3-1400x650-c.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
  }
.logo{
    text-align: center;
 color: rgb(90, 158, 147);
 font-family: 'Oswald', sans-serif;
 padding-top: 10px;
 padding-left: 30px;
 letter-spacing: 1px;
}
ul {
    display: flex;
    justify-content: space-evenly;
    justify-items: auto;
    font-family: Arial, Helvetica, sans-serif;}
ul li{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: space-evenly;
    justify-items: center;
}
.options{
    color: white;
    font-size: 20px;
}
.navbar{
    background-color: rgb(26, 23, 23);
}
.title{
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: large;
    z-index: 9;
}