body{
    background-image: url(Bedroom\ 5.jpg);
}
.Links{
    display: inline;
    margin-left: 225px;
}
#logo{
    display: block;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}