* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(82, 76, 76);
    background-image: url(Alpinum3-1400x650-c.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
  }
.logo{
    text-align: center;
    color:darkslateblue;
    font-family: 'Oswald', sans-serif;
    padding-top: 5px;
    padding-left: 30px;
    letter-spacing: 1px;
}
ul {
    display: flex;
    justify-content: space-evenly;
    justify-items: auto;
    font-family: Arial, Helvetica, sans-serif;}
ul li{
    display: flex;
    margin-top: 5px;
    margin-bottom: 20px;
    justify-content: space-evenly;
    justify-items: center;
    font-family: 'Anuphan', sans-serif;
    color:cyan;
}
.options{
    color: white;
    font-size: 20px;
}
.navbar{
    background-color: rgb(26, 23, 23);
}
.title .t1 , .title .t2{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(255, 255, 255);
    z-index: 3;
    font-family: 'Raleway', sans-serif;
}